* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-image: url(../Imgs/burgerss.jpg);
  background-size: 100%;
}
.divLabelAll {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #b9c812;
  padding: 10px;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
}
.mainArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.divData {
  margin: 10px;
  border: 1px solid black;
  background-color: #b9c812;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}
.inputsClientData {
  padding: 5px;
  border-radius: 5px;
  height: 20px;
  border: 1px solid;
}

.deleteClient {
  height: 50px;
  width: 50px;
}

.deleteClient:hover {
  cursor: pointer;
  opacity: 0.8;
}

.client-add {
  margin: 10px;
  background-color: transparent;
  border: 0;
  color: #b9c812;
}
.client-add img {
  width: 100px;
  height: 100px;
  object-fit: fill;
  filter: invert(83%) sepia(18%) saturate(4124%) hue-rotate(16deg)
    brightness(97%) contrast(86%);
}

.client-add:hover {
  cursor: pointer;
  opacity: 0.7;
}
.pageButtons {
  gap: 10px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.changePagesButtons {
  height: 100px;
  width: 100px;
  font-size: 50px;
  border-radius: 100%;
  background-color: #b9c812;
  border: 1px solid;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
.changePagesButtons:hover {
  cursor: pointer;
  opacity: 0.7;
}

.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.7);
}
.sideBar {
  display: flex;
  flex-direction: column;
}
