@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu";
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  margin-top: 50px;
  gap: 70px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
  font-weight: 400;
}
span {
  font-weight: 400;
}
nav button {
  background-color: #eda3a3;
  border-radius: 5px;
  width: 150px;
  border: 0px;
  height: 50px;
}
nav button:hover {
  cursor: pointer;
  background-color: #e7c8c8;
}
.labelSection {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.labelSection div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.labelSection nav {
  margin-left: auto;
}
.gridSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid {
  background-color: #e7c8c8;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modalSection {
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.2);
  position: fixed;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.modalContent {
  background-color: #e0dede;
  height: 500px;
  width: 650px;
  padding: 25px;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.2);
}
.labelDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.labelDiv button {
  background-color: transparent;
  border: 0;
  font-size: larger;
  font-weight: bold;
}
.labelDiv button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.labelNavDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.labelNavDiv nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#spanPedido {
  color: #a0a0a0;
  border: 0px;
}
.spanModalLocation {
  color: #000000;
  font-family: "Noto Sans";
  font-style: italic;
  border-bottom: 1px solid;
}
.localIcons {
  height: 100px;
}
.buttonLocal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  height: 260px;
  width: 300px;
  background-color: #eda3a3;
  border: 0;
}
.mainItemDiv input {
  padding: 5px;
  width: 200px;
  height: 40px;
  background-color: #eda3a3;
  border: 0;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.1);
}
.mainItemDiv select {
  width: 210px;
  height: 50px;
  font-size: medium;
  background-color: #eda3a3;
  border: 0;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.1);
}
.imgItemDivModal {
  width: 150px;
  height: 150px;
  background-color: #eda3a3;
}
.mainItemDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.mainItemDiv .inputsAddress {
  width: 150px;
  background-color: #e1b6b6;
}
.mainItemDiv .inputsAddress::placeholder {
  font-family: "Noto Sans";
  font-style: italic;
}
.inputsDiv {
  display: flex;
  gap: 10px;
  width: 500px;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
}
.eachInput {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.bottomModalDiv {
  display: flex;
  gap: 10px;
  margin-top: 120px;
  justify-content: space-around;
}
.bottomModalDiv button {
  background-color: #eda3a3;
  width: 300px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  transition: 0.3s;
}
.bottomModalDiv button:hover {
  cursor: pointer;
  background-color: #ecbcbc;
}
